/* 1. Set up of SASS variables and rules
/* 1.1.Variables for colors and margins used in the webpage design */
$pink: #ec4496;
$orange: #f1803a;
$green: #71f6a0;
$red: #ed3835;
$light-green: #ecfdf6;
$light-orange: #fdf0e8;
$ligt-gray: #eee;
$gray-color: #808080;
$margin-bottom: 1.5rem;
$margin-sides: 0 1rem 0 1rem;

/* 1.2.   SASS rules */
/* 1.2.1. Rule to format buttons */
@mixin button-format {
    /*  reset button css  */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: normal;
    background: none;
    /*  set button css for website  */
    position: relative;
    width: 120px;
    height: 45px;
    border-radius: 25px;
    border: double 3px transparent;
    background-image: linear-gradient(white, white),
        radial-gradient(circle at top left, $red, $orange);
    background-origin: border-box;
    background-clip: content-box, border-box;
    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: $pink;
    }
}
/* Rule radial-gradient */
@mixin rad-gradient {
    background: radial-gradient(circle at 0% 0%, $pink, transparent),
        radial-gradient(circle at 55% 100%, $orange 50%, transparent),
        radial-gradient(circle at 100% 0%, $green 50%, transparent);
}
/* Rule for ntf containers */
@mixin nft-container($url_src, $name) {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    background-color: $ligt-gray;
    color: #949494;
    .nft-pic {
        height: 70%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        background: url($url_src) center/cover;
        overflow: hidden;
    }
    .nft-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 20%;
        margin: 10px;
        p {
            margin: 0;
            margin-top: 7px;
        }
        .color {
            color: $orange;
        }
        .nft-data-top {
            font-size: 8px;
            display: flex;
            justify-content: space-between;
        }
        .nft-data-middle {
            color: black;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            .nft-data-middle-logo {
                display: flex;
                justify-content: space-around;
                align-items: center;
                img {
                    height: 14px;
                    margin-right: 5px;
                }
            }
            p:first-child::after {
                content: $name;
                color: black;
            }
        }
        .nft-data-bottom {
            font-size: 12px;
            display: flex;
            justify-content: space-between;
        }
    }
}
/*Rule for clearing ul list decorators*/
@mixin clear_ul {
    list-style-type: none;
    margin: 0;
    li {
        margin-right: 30px;
        a {
            text-decoration: none;
            color: $gray-color;
        }
        a:hover {
            color: $pink;
        }
    }
}

/*Rule for styling companies logos*/
@mixin comp_logo($url_src, $background_pos: left, $width: 200px) {
    background: url($url_src) left;
    background-repeat: no-repeat;
    background-position: $background_pos;
    height: 75px;
    width: $width;
    overflow: hidden;
    @media screen and (min-width: 768px) {
        height: 50px;
        width: 100px;
        background-size: contain;
    }
}
/*Styling mobile website version*/

body {
    color: $gray-color;
    margin: 0;
    padding: 20px;
    font-size: 1rem;
    header {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 4rem;
        width: 100%;
        nav {
            background-image: url("assets/menu-icon.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 30px;
            img {
                height: 30px;
            }
            ul {
                li {
                    display: none;
                }
            }
        }
    }
    main {
        section.launching-soon {
            display: flex;
            margin-bottom: 6rem;
            height: 100%;
            div.left-side {
                max-width: 50%;
                min-width: 22rem;
                p:first-child {
                    font-weight: bold;
                    color: $pink;
                }
                h1 {
                    margin: 0;
                    font-size: 4rem;
                    margin-bottom: $margin-bottom;
                    color: black;
                }
                p {
                    margin: 0;
                    margin-bottom: $margin-bottom;
                }
                button {
                    @include button-format;
                }
            }
            div.right-side {
                flex-grow: 1;
                margin-right: -3rem;
                background: url("assets/graphic.svg") no-repeat;
                background-position: top -100px;
                background-size: 23rem;
                overflow-y: hidden;
            }
        }
        section.nft-banner {
            color: black;
            height: 14rem;
            margin: 0 -2rem 4rem -2rem;
            padding: 2rem;
            @include rad-gradient;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            p {
                margin: 0;
            }
            p:first-child {
                font-size: 4rem;
                margin-bottom: 0.7rem;
            }
        }
        section.companies-logo {
            margin-bottom: 4rem;
            max-width: 45rem;
            display: flex;
            flex-wrap: wrap;
            margin-left: 20px;
            margin-right: 20px;
            justify-content: space-between;

            div.boomerang {
                @include comp_logo("assets/companies/1.svg", left, 138px);
            }
            div.blimp {
                @include comp_logo("assets/companies/2.svg", right);
            }
            div.qrco {
                @include comp_logo("assets/companies/3.svg");
            }
            div.open-door {
                display: none;
                @include comp_logo("assets/companies/4.svg");
            }
            div.droplet {
                @include comp_logo("assets/companies/5.svg", right);
            }
        }
        section.auction {
            color: black;
            margin-bottom: 4rem;
            overflow-x: hidden;
            h2 {
                margin: 0 0 15px 0;
            }
            p {
                color: $gray-color;
                margin: 0 0 25px 0;
            }
            .auction_container {
                width: 45rem;
                display: flex;
                column-gap: 20px;
                justify-content: space-between;

                .nft-first {
                    @include nft-container(
                        "assets/ntfs/ntf-1.svg",
                        "Purple Man"
                    );
                }
                .nft-second {
                    @include nft-container("assets/ntfs/nft-2.svg", "Belge");
                }
                .nft-third {
                    @include nft-container("assets/ntfs/ntf-3.svg", "Red Man");
                }
                .nft-fourth {
                    @include nft-container("assets/ntfs/ntf-4.svg", "Green");
                }
            }
        }
        hr.break {
            height: 2px;
            background-color: $ligt-gray;
            border: none;
            margin-bottom: 4rem;
            margin-right: -2rem;
            margin-left: -2rem;
        }
    }
    footer {
        section.launching-soon {
            display: flex;
            margin-bottom: 0;
            height: 100%;
            div.left-side {
                max-width: 50%;
                min-width: 22rem;
                p:first-child {
                    font-weight: bold;
                    color: $pink;
                }
                h1 {
                    margin: 0;
                    font-size: 2.5rem;
                    margin-bottom: $margin-bottom;
                    color: black;
                }
                p {
                    margin: 0;
                    margin-bottom: $margin-bottom;
                }
                button {
                    @include button-format;
                }
            }
            div.right-side {
                flex-grow: 1;
                margin-right: -3rem;
                margin-bottom: -0.6rem;
                min-height: 400px;
                background: url("assets/upsell-footer-image.svg") right bottom
                    no-repeat;
                background-size: 175px;
                z-index: 1;
                overflow-y: hidden;
            }
        }
        hr.break {
            margin-bottom: 3rem;
        }
    }
}

/*In mobile website version hide the ul list of links and show dropbox img instead*/

/*Styling desktop website version*/
@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        max-width: 45rem;

        header {
            nav {
                background-image: none;
                ul {
                    @include clear_ul;
                    margin-right: -2rem;
                    li {
                        display: inline;
                    }
                }
            }
        }
        main {
            section.launching-soon {
                div.right-side {
                    background-position: center;
                }
            }
            section.nft-banner {
                border-radius: 1rem;
                margin: 0 0rem 4rem 0rem;
            }
            section.companies-logo {
                flex-wrap: nowrap;

                justify-content: space-between;
                div.open-door {
                    display: block;
                }
            }
            section.auction {
                width: 100%;
            }
            hr.break {
                margin-right: 0;
                margin-left: 0;
            }
        }
        footer {
            section.launching-soon {
                div.right-side {
                    background-position: center;
                }
            }
            hr.break {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}
