/* 1. Set up of SASS variables and rules
/* 1.1.Variables for colors and margins used in the webpage design */
/* 1.2.   SASS rules */
/* 1.2.1. Rule to format buttons */
/* Rule radial-gradient */
/* Rule for ntf containers */
/*Rule for clearing ul list decorators*/
/*Styling mobile website version*/
body {
  color: #808080;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-bottom: 4rem;
  width: 100%;
}

body header nav {
  background-image: url("assets/menu-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

body header nav img {
  height: 30px;
}

body header nav ul li {
  display: none;
}

body main section.launching-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6rem;
  height: 100%;
}

body main section.launching-soon div.left-side {
  max-width: 50%;
  min-width: 22rem;
}

body main section.launching-soon div.left-side p:first-child {
  font-weight: bold;
  color: #ec4496;
}

body main section.launching-soon div.left-side h1 {
  margin: 0;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: black;
}

body main section.launching-soon div.left-side p {
  margin: 0;
  margin-bottom: 1.5rem;
}

body main section.launching-soon div.left-side button {
  /*  reset button css  */
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: normal;
  background: none;
  /*  set button css for website  */
  position: relative;
  width: 120px;
  height: 45px;
  border-radius: 25px;
  border: double 3px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(circle at top left, #ed3835, #f1803a);
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ed3835, #f1803a);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

body main section.launching-soon div.left-side button a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

body main section.launching-soon div.left-side button a:hover {
  color: #ec4496;
}

body main section.launching-soon div.right-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  margin-right: -3rem;
  width: 35%;
  background: url("assets/graphic.svg") no-repeat;
  background-size: 20rem;
  overflow-y: hidden;
}

body main section.nft-banner {
  color: black;
  height: 7rem;
  margin: 0 -2rem 0 -2rem;
  padding: 2rem;
  background: radial-gradient(circle at 0% 0%, #ec4496, transparent), radial-gradient(circle at 55% 100%, #f1803a 50%, transparent), radial-gradient(circle at 100% 0%, #71f6a0 50%, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main section.nft-banner p {
  margin: 0;
}

body main section.nft-banner p:first-child {
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

/*In mobile website version hide the ul list of links and show dropbox img instead*/
/*Styling desktop website version*/
@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    max-width: 45rem;
  }
  body header nav {
    background-image: none;
  }
  body header nav ul {
    list-style-type: none;
    margin: 0;
    margin-right: -2rem;
  }
  body header nav ul li {
    margin-right: 30px;
  }
  body header nav ul li a {
    text-decoration: none;
    color: #808080;
  }
  body header nav ul li a:hover {
    color: #ec4496;
  }
  body header nav ul li {
    display: inline;
  }
  body main section.launching-soon div.right-side {
    background-position: center;
  }
  body main section.nft-banner {
    border-radius: 1rem;
    margin: 0;
  }
}

.nft-main {
  width: 200px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: none;
  background-color: #eee;
  color: #949494;
}

.nft-main .nft-pic {
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: url("assets/ntfs/ntf-1.svg") center/cover;
  overflow: hidden;
}

.nft-main .nft-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  margin: 10px;
}

.nft-main .nft-data p {
  margin: 0;
  margin-top: 7px;
}

.nft-main .nft-data .color {
  color: #f1803a;
}

.nft-main .nft-data .nft-data-top {
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-main .nft-data .nft-data-middle {
  color: black;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nft-main .nft-data .nft-data-middle .nft-data-middle-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nft-main .nft-data .nft-data-middle .nft-data-middle-logo img {
  height: 14px;
  margin-right: 5px;
}

.nft-main .nft-data .nft-data-middle p:first-child::after {
  content: "Purple Man";
  color: black;
}

.nft-main .nft-data .nft-data-bottom {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */